[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "SuperSimpleMH"
version = "3.2.3"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Python :: 3",
]

dependencies = [
    "cachetools",
    "rpyc",
    "pywin32",
    "numpy",
    "psutil",
]

[tool.setuptools.packages.find]
include = ["su_core*"]

[project.scripts]
super_simple_mh = "su_core.__main__:main"